.footer {
    margin: 0;
    padding: 30px 5%;
    background-color: black;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer ul{
    list-style-type: none;
    padding: none;
}

.footer li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer li img{
    width: 25px;
}

.footer li a{
    color: white;
    text-decoration: none;
}

.footer li a:hover{
    color: var(--secondary-color);
    text-decoration: line-through;
}