:root {
  --transparent-black: rgba(0, 0, 0, 0.836);
  --white: white;
  --black: rgb(36, 36, 36);
  --main-color: #f1afd0;
  --secondary-color: #fa4c4b;
}

body {
  width: 100vw;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: var(--transparent-black);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
}