.title-container {
  padding: 0.5rem 0;
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}

.target {
  margin: 0;
  font-size: 30px;
  font-weight: bolder;
  animation-name: rightToLeft;
  animation-duration: 8.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@media (max-width: 800px) {
  .target {
    animation-duration: 3.5s;
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-160px);
  }
}