.map {
  width: 100%;
  height: 50vh;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.google-map {
  width: 100%;
  height: 100%;
}

.pin {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.747);
  padding: 10px;
  border-radius: 10px;
}

.icon {
  color: var(--secondary-color)
}

.pin-text {
  margin: 0;
  font-weight: bold;
  white-space: nowrap;
}